[submodule "database_project"]
	path = database_project
	url = https://github.com/valary-esendi/database_project
[submodule "web-project"]
	path = web-project
	url = https://github.com/valary-esendi/web-project
[submodule "flutter_project"]
	path = flutter_project
	url = https://github.com/valary-esendi/flutter_project
[submodule "pyhton-project"]
	path = pyhton-project
	url = https://github.com/valary-esendi/pyhton-project
